body {
    overflow-y: scroll;
    position: relative;
}

.kotak1 {
    border: 1px solid white;
    padding: 38px;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 6px 28px #cdcccc;
}
.gambar1 {
    width: 100%;
    height: auto;
}
.gambar2 {
    width: 215px;
    height: 100px;
}

.main-sidebar {
    position: fixed !important;
    height: 100%;
}

